<style media="screen">
        #btn{
          margin-top: 23px;
        }
      </style>
      <div class="nested-fields">
        <div class="field">
          <div class="row">
            <div class="col-md-8">
              <%= f.label :image %><br>
              <%= f.file_field :image, class:"btn btn-default"%>
            </div>
            <div class="col-md-4" >
              <%= link_to_remove_association('X', f, class: "btn btn-warning", id:"btn")%>
            </div>
          </div>
      
      
      
      
      
        </div>
      </div>
      