<div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="home-v1-slider" >
                        <!-- ========================================== SECTION – HERO : END========================================= -->

                        <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                            <%= render  "layouts/shared_sitio/banner" %>

                        </div><!-- /.owl-carousel -->

                        <!-- ========================================= SECTION – HERO : END ========================================= -->

                    </div><!-- /.home-v1-slider -->

                    <div class="home-v1-ads-block animate-in-view fadeIn animated" data-animation="fadeIn">
                        <div class="ads-block row">
                            <div class="ad col-xs-12 col-sm-4">
                                <div class="media">
                                    <div class="media-left media-middle">
                                       
                                        <img data-echo="/template_sitio/assets/images/banner/cameras.jpg" src="/template_sitio/assets/images/blank.gif" alt="">
                                    </div>
                                    <div class="media-body media-middle">
                                        <div class="ad-text">
                                            Catch Big <br><strong>Deals</strong> on the <br>Cameras
                                        </div>
                                        <div class="ad-action">
                                            <a href="#">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ad col-xs-12 col-sm-4">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <img data-echo="/template_sitio/assets/images/banner/MobileDevicesv2-2.jpg" src="/template_sitio/assets/images/blank.gif" alt="">
                                    </div>
                                    <div class="media-body media-middle">
                                        <div class="ad-text">
                                            Tablets,<br> Smartphones<br> <strong>and more</strong>
                                        </div>
                                        <div class="ad-action">
                                            <a href="#"><span class="upto"><span class="prefix">Upto</span><span class="value">70</span><span class="suffix"></span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ad col-xs-12 col-sm-4">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <img data-echo="/template_sitio/assets/images/banner/DesktopPC.jpg" src="/template_sitio/assets/images/blank.gif" alt="">
                                    </div>
                                    <div class="media-body media-middle">
                                        <div class="ad-text">
                                            Shop the <br><strong>Hottest</strong><br> Products
                                        </div>
                                        <div class="ad-action">
                                            <a href="#">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="home-v1-deals-and-tabs deals-and-tabs row animate-in-view fadeIn animated" data-animation="fadeIn">
                 
                    </div><!-- /.deals-and-tabs -->

                    <!-- ============================================================= 2-1-2 Product Grid ============================================================= -->
                 
                    <!-- ============================================================= 2-1-2 Product Grid : End============================================================= -->
                    
                    <%= render  "layouts/shared_sitio/ultimosp" %>
                    <!-- ============================================================= 2-1-2 Product Grid : End============================================================= -->
                    
                    <div class="home-v1-banner-block animate-in-view fadeIn animated" data-animation="fadeIn">
                        <div class="home-v1-fullbanner-ad fullbanner-ad" style="margin-bottom: 70px">
                                <% @banner_inferior.each do |banner| %>
                                  <%= image_tag banner.image.url(:medium) %> 
                                <% end %>
                            <!-- <a href="#"><img src="/template_sitio/assets/images/blank.gif" data-echo="/template_sitio/assets/images/banner/home-v1-banner.png" class="img-responsive" alt=""></a> -->
                        </div>
                    </div><!-- /.home-v1-banner-block -->



                    <section class="home-v1-recently-viewed-products-carousel section-products-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
                        <header>
                            <h2 class="h1">PRODUTOS EM DESTAQUE</h2>
                            <div class="owl-nav">
                                <a href="#products-carousel-prev" data-target="#recently-added-products-carousel" class="slider-prev"><i class="fa fa-angle-left"></i></a>
                                <a href="#products-carousel-next" data-target="#recently-added-products-carousel" class="slider-next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </header>

                        <div id="recently-added-products-carousel">
                            <div class="woocommerce columns-6">
                                <div class="products owl-carousel recently-added-products products-carousel columns-6">

                                    <!-- /////////////////////////////// -->
                                    <%= render  "layouts/shared_sitio/destacado" %>
                                    <!-- /////////////////////////////// -->


                                </div>
                            </div>
                        </div>
                    </section>
                </main><!-- #main -->
            </div><!-- #primary -->

        </div><!-- .container -->
    </div><!-- #content -->